@font-face {
  font-family: "PT Mono Regular";
  src: url("/fonts/pt-mono_regular.woff") format("woff");
}

@font-face {
  font-family: "PT Mono Bold";
  src: url("/fonts/pt-mono_bold.woff") format("woff");
}

body {
    font-family: "PT Mono Regular";
  background-color: #e9ecef;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#app-container {
  width: 40%;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.9em;
  margin: auto;
}

#app-header {
  background-color: #6052c7;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* New styles for the header logo */
#header-logo {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* This will maintain the aspect ratio of your logo */
  margin: 0 auto; /* Center the logo in the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#room-info,
#online-users {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  color: #495057;
  border-bottom: 1px solid #dee2e6;
}

#participant-count {
  font-family: "PT Mono Bold";
}
#online-users{
    font-family: "PT Mono Regular";
}
#online-count {
  color: #28a745;
  font-family: "PT Mono Bold";
}

#timer {
  text-align: center;
  padding: 10px;
  background-color: #ffc107;
  color: #212529;
  font-family: "PT Mono Bold";
}

#chat-container {
  height: 300px;
  overflow-y: auto;
  padding: 15px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.chat-message {
  background-color: #f5f5f5; /* Light gray background for messages */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Add a border to separate messages */
}

/* Style alternating messages with a different background color */
.chat-message:nth-child(odd) {
  background-color: #fff; /* White background for odd messages */
}

.username {
  color: #007bff;
  font-family: "PT Mono Bold";
}

#message-input-container {
  padding: 15px;
  background-color: #f8f9fa;
  display: flex;
  border-top: 1px solid #dee2e6;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;

    font-family: "PT Mono Bold";
  outline: none; /* Remove the outline when input is focused */
}

#send-button {
  background-color: #6052c7; /* Change the button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth color transition */
  font-family: "PT Mono Bold";
}

#send-button:hover {
  background-color: #4d42a0; /* Change the button color on hover */
}

.about-button {
  background-color: #f8f9fa;
  color: #6052c7;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.about-button:hover {
  color: white;
  background-color: #4d42a0;
  text-decoration: none;
}
/* /an animated spinner */
#spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* background-color: red; */
  background-color: transparent;
  background-color: #f8f9fa;
  border: none;
}
#spinner {
  width: 30px;

  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #6052c7;
  border-radius: 50%;
  animation: spin 1s ease infinite;
  background-color: #f8f9fa;
}

.disclaimer {
  /* align-self: flex-end; */
  justify-self: flex-end;
  text-align: center;
  padding: 10px;
  font-size: 0.7rem;
  color: #495057;
}

#overlay-model {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#overlay-model iframe {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* below are CSS styles for mobile optimization

/* For tablets (like iPads) */

@media (max-width: 1400px){
  #app-container {
    width: 50%; /* Increase width for better use of space */
  }
  #header-logo {
    height: 35px; /* Adjust the height as needed */
  }
}

@media (max-width: 1000px) {
  #app-container {
    width: 60%; /* Increase width for better use of space */
  }
  #header-logo {
    height: 30px; /* Adjust the height as needed */
  }
}

@media (max-width: 768px) {
  #app-container {
    width: 70%; /* Increase width for better use of space */
    font-size: 0.8rem;
  }

  #header-logo {
    height: 25px; /* Adjust the height as needed */
  }

  #app-header {
    font-size: 24px; /* Slightly smaller text */
    padding: 15px 0;
  }

  #message-input-container,
  #chat-container {
    font-size: 0.8em; /* Adjust font size */
  }
}

/* For mobile phones (like iPhones) */
@media (max-width: 480px) {
  #app-container {
    width: 95%; /* Use almost full width */
  }

  #timer{
    font-size: 0.8em;
  }

  #online-users{
    font-size: 0.8em;
  }

  #participant-count{
    font-size: 0.8em;
  }

  #header-logo {
    height: 18px; /* Adjust the height as needed */
  }

  #app-header {
    font-size: 20px;
    padding: 10px 0;
  }

  .about-button {
    font-size: 0.8em;
    top: 10px;
    right: 10px;
  }

  #message-input-container,
  #chat-container {
    font-size: 0.75em;
  }

  #send-button,
  #message-input {
    font-size: 0.9em;
  }
}
