body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app-container {
    width: 60%; /* Wider container for more margin */
    max-width: 800px; /* Max width to control size on larger displays */
    margin: 2rem auto; /* More vertical margin */
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    font-size: 1em; /* Slightly larger text */
    display: flex;
    flex-direction: column;
}

#app-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0; /* More padding */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#terms-content {
    text-align: left;
    padding: 30px; /* Increased padding for content */
    padding-top: 0;
    background-color: #f8f9fa; /* Background color for the content area */
    border-bottom: 1px solid #dee2e6;
}



#terms-content p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #495057; /* Text color for readability */
}

.navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: red; */
    margin-top: 20px;
    text-align: center; /* Center the button */
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

